* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope',sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
    background-color: hsl(210, 46%, 95%);
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.content {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.content-preview {
    height: 350px;
    width: 496px;
    background: url(./istockphoto-1157789866-170667a.webp);
    background-size:auto;
    background-position:center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    flex: 1;
}
.content-info {
    flex: 1.19;
    background: #ffff;
    padding-left: 40px;
    padding-right: 35px;
    padding-top: 25px;
    position: relative;
    text-align: justify;
    border-radius: 10px;
}

.content-info h1 {
    font-size: 25px;
    line-height: 1.0;
    margin-bottom: 15px;
}

.content-info p {
    font-size: 14px;
    margin-bottom: 10px;
    padding-right: 8px;
}
.content-info ul {
    font-size: 14px;
    margin-bottom: 20px;
    padding-right: 8px;
}
.content-info button {
        font-weight: bold;
        font-size: 12px;
        padding: 0.8em 1.5em;
        position: relative;
        font-family: inherit;
        border-radius: 2.0em;
        overflow: hidden;
        transition: all 0.3s;
        line-height: 1.4em;
        border: 2px solid var(--black);
        background: linear-gradient(to right, rgba(80, 89, 85, 0.1) 1%, transparent 40%,transparent 60% , rgba(55, 57, 56, 0.1) 100%);
        color: black;
        box-shadow: inset 0 0 10px rgba(75, 80, 78, 0.4), 0 0 9px 3px rgba(79, 82, 81, 0.1);
        margin-right: 0.5em; 
      }
      
      button:hover {
        color: #333937;
        box-shadow: inset 0 0 10px rgba(78, 82, 80, 0.6), 0 0 9px 3px rgba(33, 36, 35, 0.2);
      }
      
      button:before {
        content: "";
        position: absolute;
        left: -4em;
        width: 4em;
        height: 100%;
        top: 0;
        transition: transform .4s ease-in-out;
        background: linear-gradient(to right, transparent 1%, rgba(71, 77, 74, 0.1) 40%,rgba(48, 52, 50, 0.1) 60% , transparent 100%);
      }
      
      .fa-square-facebook {
        color: rgb(34, 34, 157);
      }
      .continue__txt {
        margin: 0 !important;
        color: rgb(34, 34, 157) ;
      }

    .content-info i {
        margin-right: 5px;
    }
    .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width:100%;
    }
    .login-box {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 350px;
        height: 330px;
    }
    .logo {
        max-width:250px;
    }
    
    .input-box {
        margin-bottom: 10px;
    }

    input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    .btn-login {
        background-color: #1877f2;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;

    }
    .btn-login:hover {
        background-color: #145996;
        color: #fff;
    }
    
    .btn-create-account {
        background-color: #42b72a;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
    }
    .btn-create-account:hover {
        background-color: #3a9c23;
        color: #fff;
    }
    
    .forgot-password a {
        text-decoration: none;
        color: #1877f2;
        margin-top: 20px;
    }
    
    hr {
        margin: 10px 0;
    }


    
.dot-spinner {
    --uib-size: 2.8rem;
    --uib-speed: .9s;
    --uib-color: #183153;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: var(--uib-size);
    width: var(--uib-size);
  }
  
  .dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  
  .dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  }
  
  .dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
  }
  
  .dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
  }
  
  .dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }
  
  .dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
  }
  
  .dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
  }
  
  .dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
  }
  
  .dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }
  
  .dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
  }
  
  .dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
  }
  
  .dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
  }
  
  .dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
  }
  
  .dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
  }
  
  .dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
  }
  
  @keyframes pulse0112 {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  }
  


@media screen and (max-width: 767px) {
    .content {
        height: 650px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .content-preview {
        width: 100%;
        height: 300px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
    .content-info {
        width: 100%;
        padding: 20px;
    }
    .content-info h1 {
        font-size: 18px;
        
    }
    .content-info button {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
    }

}